<%- include("partials/header") %>
<div style="text-align: center;">
    <p>Welcome to the Waterfall-Documentory</p>

   <p> <a href="/overview">Start here!</a> </p>

<img src="https://raw.githubusercontent.com/chh-gif/Webontwikkeling-Assets_JSON_Rep/main/assets/W006_Iguazu.jpg" width="500"

</div>
<%- include("partials/footer") %>