:root {
  --color-shadow: black;
  --color-main: #6b8f71;
  --color-background1:  #b8c7b0;
   --color-background2: #f9faf8;
   --color-background3: white;
  --color-frame: #2f4f2f;
}


/* für die kleinen Tabelle darunter*/
td:first-child {
    width: 220px;
    font-weight: bold;
    color: var(--color-frame);
    background: var(--color-background2);
}




