
.editor {
    display: block;
    
}

.editor-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.editor-form label {
    text-align: left;
    font-weight:bold;
    width: 200px;
}

.editor-form select, .editor-form input{
flex: 1;

}

@media (max-width: 600px) { /* hier 600px sonst rutscht width:200px über den Rand des Formulars*/

.editor-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}
.editor-form select, .editor-form input{
    width: 100%;
}
.editor-form label {
    width:100%;
}

}