
.editor {
    display: block;
    
}

.editor-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.editor-form label {
    text-align: left;
    font-weight:bold;
    width: 200px;
}

.editor-form select, .editor-form input{
flex: 1;

}