<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/waterfalls/overview">Waterfalls</a></li>
    <li><a href="/climates/climate">Climate</a></li>
    <li><a href="/users/login">User</a></li>
  </ul>
</nav>
